@use 'variables' as v;

.yellow-square {
  position: absolute;
  background-color: v.$primary-color;
}

.top-square {
  top: 0;
  left: 60px;
  width: 10px * 3.5;
  height: 10px * 1.8;
}

.bottom-square {
  bottom: -20px;
  left: 60px;
  width: 20px + 20px;
  height: 40px;
  background-color: rgba(230, 193, 0, 0.6);
  position: absolute;
}

@media (max-width: 768px) {
  .col-lg-4,
  .col-lg-8 {
    padding: 25px;
  }

  .header h1 {
    font-size: 28px;
  }

  .reference {
    flex-direction: column;
    align-items: center;

    .divider {
      display: none;
    }
  }
}