@use 'variables' as v;
@use 'mixins' as m;
@use 'base';

.col-lg-4 {
  background-color: #f7f7f7;
  padding: 40px 50px;
}

.profile-photo {
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 60%;
  object-fit: cover;
  margin: 0 auto 30px;
}

h1.card-title,
h2.card-title {
  color: v.$primary-color;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;

  &::after {
    @include m.yellow-line(44px);
  }
}

.contact-info {
  h3 {
    font-size: 17px;
    font-family: v.$font-main;
    font-weight: 600;
    color: #555;
    margin-bottom: 3px;
  }

  p {
    @extend .text-base;
    margin-bottom: 12px;
  }
}

.education-item p {
  margin-top: 20px;
  @extend .text-base;
  font-size: 18px;
}

.skills {
  .skills-list {
    list-style: none;
    padding-left: 4px;

    li {
      position: relative;
      padding-left: 23px;
      font-weight: 300;
      margin-bottom: 15px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        width: 6px;
        height: 6px;
        background-color: v.$primary-color;
      }
    }
  }
}